name: Python CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests with coverage
      run: |
        pytest --cov=app --cov-report=xml --cov-report=term

    # - name: Build package
    #   run: |
    #     mkdir build
    #     cp app.py build/
    #     zip -r build.zip build

    # - name: Upload build artifact
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: python-build
    #     path: build.zip

    # - name: Upload coverage report
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: coverage-report
    #     path: coverage.xml

    - name: Create deployment package
      run: |
        zip -r function.zip app.py

    - name: Upload deployment package
      uses: actions/upload-artifact@v4
      with:
        name: lambda-package
        path: function.zip


  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'  # Only deploy from main branch

    steps:
    - name: Download deployment artifact
      uses: actions/download-artifact@v4
      with:
        name: lambda-package
        path: .

    - name: Deploy to AWS Lambda
      uses: aws-actions/aws-lambda-deploy@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
        function-name: ci-cd-demo
        zip-file: function.zip
